.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.logo {
    width: 150px;
}

.nav-items {
    padding: 20px;
}

.nav-items > ul {
    display: flex;
}

.nav-items > ul > li {
    padding-right: 15px;
    list-style: none;
    margin: 10px;
    font-size: 24px;
}