.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.logo {
    width: 150px;
}

.nav-items {
    padding: 20px;
}

.nav-items > ul {
    display: flex;
}

.nav-items > ul > li {
    padding-right: 15px;
    list-style: none;
    margin: 10px;
    font-size: 24px;
}

.res-card {
    width: 200px;
    height: auto;
    padding: 7.5px;
    background: rgb(222, 207, 207);
    border-radius: 5px;
    margin: 10px 5px 0 0;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}

.res-logo {
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 150px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
    
}